/*Tsompanidis Konstantinos, stud_num 17419239*/
body {
  font-family: 'Cormorant Garamond', serif;
  max-width: 800px;
  margin: auto;
}
header {
  border-left: #ff0000;
}
footer {
  background-color: rgb(255,71,26);
  color: white;
}
/*style for the text -start-*/
h1 {
  color: #FF0000;
  font-size: 30px;
}
h2 {
  font-size: 26px;
  color: #4d0000
}
h3 {
  font-size: 22px;
  color: #4d0000
}
p {
  font-size: 18px;
  color: #4d0000
}
p.small {line-height: 2px;}
.copyright {
  text-align: right;
  padding: 0px;
  line-height: 11px;
  color: #ffffff;
}
#a1 {
  color: #ffffff;
}
#a2 {
  color: #4d0000;
}
/*style for the text -end-*/
/*images style -start-*/
.banner {
  position: relative;
}
.center {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  font-size: 22px;
  font-weight: bold;
  color: #4d0000;
  text-shadow: 1px 1px;
}
div.photolinks1 {
  margin: auto;
  width: 50%;
  text-align: center;
  margin-bottom: 30px;
}
div.photolinks2 {
  margin: auto;
  width: 50%;
  text-align: center;
  margin-top: 50px;
}
img.me1 {
  border-radius: 50%;
  border: 1px solid #ddd;
  padding: 10px;
  float: right;
  max-width: 100%;
  max-height: 100%;
  opacity: 0.8;
}
img.biolink {
  border-radius: 50%;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}
img.resumelink {
  border-radius: 50%;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  opacity: 0.9;
}
img.banner {
  margin-top: 25px;
  margin-bottom: 50px;
  max-width: 800px;
  opacity: 0.7;
}
div.photoslinks {
  margin: 15px;
}
/*images style -end-*/
/*style for the forms -start-*/
input[type=text] {
     width: 50%;
     padding: 12px 20px;
     margin: 8px 0;
     border: 1px solid #ccc;
     border-radius: 4px;
     box-sizing: border-box;
}
 input[type=email] {
     width: 50%;
     padding: 12px 20px;
     margin: 8px 0;
     border: 1px solid #ccc;
     border-radius: 4px;
     box-sizing: border-box;
 }
 textarea {
     width: 50%;
     height: 150px;
     padding: 12px 20px;
     box-sizing: border-box;
     border: 2px solid #ccc;
     border-radius: 4px;
     background-color: #f8f8f8;
     font-size: 16px;
     resize: none;
 }
 input[type=submit] {
    width: 50%;
    background-color: rgb(255,71,26);
    color: white;
    font-size: 16px;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #ff0000;
}
label {font-size: 16px;}
/*style for the forms -end-*/
/*style for the lists -start-*/
li {font-size: 18px;}
ul.headerlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255,71,26);
}
li.headerlist {float: left;}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
li a:hover {background-color: #FF0000;}
/*style for the forms -end-*/
